{% extends "layout.html" %}
{% block title %}
Resume
{% endblock %}
{% block content %}
<html>
   <head>
      <style>
         .left-align {
         text-align: left;
         }
      </style>
   </head>
   <div class="left-align">
      <h2>
         Education
      </h2>
      <h3>
         Bachelors in Computer Science | Minor: Communications
      </h3>
      <h3>
         <i>Florida State University</i> | December 2024
      </h3>
      <h3>
         Relevant Coursework
      </h3>
      <ul>
         <li>Software Engineering, Data Structures, Databases, Artificial Intelligence, Mobile Programming (Android)</li>
      </ul>
      <h3>
         _______________________________________________________________________________________________________________________________
      </h3>
      <h2>
         Skills/Certifications
      </h2>
      <ul>
         <li><b>Programming Languages</b>: C++, Python, MySQL, JavaScript, HTML, CSS, Java, Unix/Linux scripting</li>
         <li><b>Frameworks & Libraries</b>: React, Node.js, Express, MongoDB</li>
         <li><b>Tools</b>: Android Studio, Git, Visual Studio Code</li>
         <li><b>Certifications</b>: AWS Certified Cloud Practitioner</li>
      </ul>
      <h3>
         _______________________________________________________________________________________________________________________________
      </h3>
      <h2>
         Projects
      </h2>
      <h3>
         <b> Software Engineering Capstone Project | MERN Admin Dashboard | <a href="https://github.com/connorcoop0/mern-admin-dashboard">GitHub Link</a></b>
      </h3>
      <ul>
         <li>Developed a dynamic admin dashboard using React, integrating real-world data to create multiple interactive pages and charts.</li>
         <li>Collaborated with a team of 4 using GitHub for version control, enhancing skills in Agile project management and teamwork.</li>
         <li>Implemented backend functionalities with Node.js and Express, connected to MongoDB for data management.</li>
      </ul>
      <h3>
         <b> Android Weather App | <a href="https://github.com/connorcoop0/WeatherApp">GitHub Link</a></b>
      </h3>
      <ul>
         <li>Developed an Android app using Java to fetch real-time weather data via a public API, with an intuitive UI for city-based searches.</li>
         <li>Parsed JSON responses to display detailed forecasts in a ListView, implementing error handling for seamless user interaction.</li>
      </ul>
      <h3>
         _______________________________________________________________________________________________________________________________
      </h3>
      <h2>
         Work Experience
      </h2>
      <h3 class="left-align">
         <b>Intern | Bay Shellfish Co. | August 2023 – November 2023</b>
      </h3>
      <ul>
         <li>Processed and organized over 12 months of financial data in Excel, ensuring 100% accuracy for grant application submissions.</li>
         <li>Installed a 300-foot Wi-Fi bridge, increasing lab Wi-Fi connectivity speeds greatly and enhancing operational efficiency for research activities.</li>
      </ul>
      <h3 class="left-align">
         <b>Delivery Driver | Jimmy Johns | December 2022 – May 2023</b>
      </h3>
      <ul>
         <li>Delivered orders with 95% on-time accuracy while ensuring positive customer interactions</li>
         <li>Supported in-store operations during peak hours, assisting with food prep and order packaging.</li>
      </ul>
   </div>
</html>
{% endblock %}